.card-main{
  width: 100%;
}
.card-maker{
  margin: 0 auto;
  .card-maker__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: $spacer;
  }
  .card-maker__input{
    background-color: transparent;
    padding: $spacer / 2;
    border: 2px solid #A9A9A9;
    margin-bottom: $spacer * 2;
    color: #A9A9A9;
    width: 100%;
    &.--last{
      margin-bottom: $spacer * 4;
    }
  }
  .card-maker__btn{
    padding: (10/16) * $spacer;
    width: 100%;
    border: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
    background-color: $primary;
  }
  
}
h3{
  color: red;
}
@media only screen and (min-width: 470px){
  .card-maker{
    max-width: 350px;
  }
}