.card-main{
  width: 100%;
}
.card-maker{
  margin: 0 auto;
  .card-maker__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: $spacer;
  }
  .card-maker__input{
    background-color: transparent;
    padding: $spacer / 2;
    border: 2px solid #A9A9A9;
    margin-bottom: $spacer * 2;
    color: #A9A9A9;
    width: 100%;
    &.--last{
      margin-bottom: $spacer * 4;
    }
  }
  .card-maker__btn{
    padding: (10/16) * $spacer;
    width: 100%;
    border: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
    background-color: $primary;
  }
 
  

}
.picker__title{
  font-weight: 900;
  font-size: 24px;
}
.slider__article{
  display: flex !important;
  justify-content: center;
  padding: $spacer;
  min-height: 359px;

  .article__text{
    position: relative;
    padding: $spacer;
  }
  .card__title{
    font-size: 14px;
    font-weight: 900;
  }
  .card__subtitle{
    font-size: 12px;
    font-weight: 900;
  }
  .card__text{
    font-size: 10px;
    font-weight: 400;
  }
}
.img__container{
  background-size: cover;
}
.slider__wave{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -55px;
}
.slider__img{
  margin: 0;
}

@media only screen and (min-width: 470px){
  .card-maker{
    max-width: 350px;
  }
}