.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer * 2;
  width: 100%;
  .header__btn{
    display: flex;
    align-items: flex-end;
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 900;
    background: none;
    padding: 0;
    border: none;
    &:hover{
      color: white;
    }
  }
}
@media only screen and (min-width: 768px){
  .header{
    margin-bottom: $spacer * 4;
  }
}