.header{
  padding-top: $spacer * 2  ;
  margin-bottom: $spacer * 4;
  .header__title{
    text-align: center;
    font-weight: 800;
    margin-bottom: $spacer / 2;
  }
  .header__subtitle{
    font-size: 18px;
    text-align: center;
  }
}